{% extends "base.html" %}
{% load static %}
{% block title %} {{ project.title }} {% endblock %}

{% block page_content %}

<h1 class="font-weight-bold">{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="Project Image" width="80%">
    </div>
    <div class="col-md-4 text-justify">
        <h3>About the project:</h3>
        <p>{{ project.description }}</p>
        <br>
        <h5>Skills used:</h5>
        <div class="row mb-5" style="min-height: max-content">
            <span class="badge badge-info mr-3">{{ project.technology1 }}</span>
            <span class="badge badge-info mr-3">{{ project.technology2 }}</span>
            <span class="badge badge-info mr-3">{{ project.technology3 }}</span>
        </div>
        <br>
        <a href="{{ project.link }}"
           style="font-family: 'Helvetica Neue', sans-serif; color: #FFFFFF; text-align: center;
           position: center; min-width: 100%" target="_blank" class="font-weight-bold btn btn-danger">
            {{ project.link_text }}
        </a>


    </div>
</div>

{% endblock %}